/* Whole document: */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
body{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 12pt;
  background-color: #f2f3ed;
	
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 20pt;
 font-color:#03DAC6; 
}